In [1]:
#1 read the notes, done!!

In [16]:
#2 sequence of numbers 
x = [0]  

n = int(input('enter any number: '))
i = 1   
while i < n:
    cond1 = x[i-1] - i
    if cond1 > 0 and cond1 not in x:
        x.append(cond1) 
    else:
        x.append(x[i-1] + i)
    i += 1

print(x)

enter any number:  7

[0, 1, 3, 6, 2, 7, 13]

In [3]:
#3
mylist = [1,-99,89,0,234,77,-748,11]
print(mylist) 
new_list = sorted(mylist)
print(new_list)

[1, -99, 89, 0, 234, 77, -748, 11]
[-748, -99, 0, 1, 11, 77, 89, 234]

In [4]:
#4
list1 = {1,2,3,4,5,6,7,8,9}
list2 = {2,4,6,8,10}
new_list = list1.intersection(list2)
print(new_list)

{8, 2, 4, 6}

In [5]:
#q5
from math import isqrt 
def factor(n):
    if n <= 0:
        return []
    else:
        return [ (i, n//i) for i in range(1, isqrt(n)+1) if n % i == 0
               ]
factor(36)

[(1, 36), (2, 18), (3, 12), (4, 9), (6, 6)]

In [6]:
#6a, using the direct range knowing the divisibility rules of prime numbers, e.g 3
list = []
for i in range(1,1000):
    if (i % 3) == 0:
        list.append(i) 
%timeit list 
print(list)

68.2 ns ± 7.65 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [7]:
#6b, using the range method
fac = []
for i in range(0,1000,3):
    fac.append(i)
print(fac)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [8]:
#7
def sieve_of_eratosthenes(n):
    if n < 2:
        return []
    is_prime = [True] * (n + 1)
    is_prime[0] = is_prime[1] = False

    p = 2
    while p * p <= n:
        if is_prime[p]:
            for multiple in range(p * p, n + 1, p):
                is_prime[multiple] = False
        p += 1
    return [i for i in range(n + 1) if is_prime[i]]
sieve_of_eratosthenes(10)

[2, 3, 5, 7]

In [14]:
#8 palindrome 
def palindrome():
    a = str(input("write a word:"))
    b = a.upper()
    m = len(b)
    word = []

    for i in range(m):
        if b[i] == ' ':
            b.replace(' ','')
        else:
            word.append(b[i])

    print(word)
    reverse = word[::-1]
    print(reverse)

    if word == reverse:
        print("The word is a palindrome")
    else:
        print("The word is not a palindrome")
palindrome()

write a word: kaka hakah

['K', 'A', 'K', 'A', 'H', 'A', 'K', 'A', 'H']
['H', 'A', 'K', 'A', 'H', 'A', 'K', 'A', 'K']
The word is not a palindrome

In [18]:
def function():
    n = str(input('Enter any word in your head '))
    freq = max(n, key = n.count)
    occurence = n.count(freq) 
    output = (freq, occurence) 
    print(output) 
function()

Enter any word in your head  sarbah

('a', 2)